/* Main Styles */

html {
    font-size: 100%;
    box-sizing: border-box;
}

body, footer, h1, h2, h3, p {
    margin: 0 0 0 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    letter-spacing: 0.031rem;
    text-transform: uppercase;
}

a, a:visited {
    text-decoration: none;
}

/* Header */

.header {
    margin: 0 auto; /* Centers the elment */
    padding: 250px;
    text-align: center;
    color: #fff;
    background:linear-gradient(0deg, rgba(99, 99, 99, 0.5), rgba(99, 99, 99, 0.5)), url(../resources/header_1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.header h1 {
    font-size: 4.688rem;
    padding: 0 0 1.875rem 0;
}

.header h2 {
    font-size: 1.875rem;
    padding: 0 0 1.875rem 0;
}

.header p {
    font-size: 1rem;
    padding: 0 0 0.875rem 0;
}

/* Flip Cards */

.cards {
    display: grid;
    gap: 1rem;
    justify-content: center;
}

.flip-card {
    margin: 0 auto; /* Centers the elment */
    background-color: transparent;
    box-sizing: border-box;
    width: 325px;
    height: 325px;
    perspective: 1000px; /* Gives a 3D-positioned element some perspective */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flip-card-front {
    background-color: #fff;
    color: #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
  
.flip-card-back {
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.flip-card-front h3 {
    padding: 1rem 0 1rem 0;
}

.flip-card-front p {
    color: rgb(99, 99, 99);
}

.flip-card-front p, .flip-card-back p {
    line-height: 1.25rem;
    padding: 0 3rem 0 3rem;
}

.flip-card-back-blue {
    background-color: rgb(14, 113, 156);
}
.flip-card-back-green {
    background-color: rgb(0, 145, 71);
}
.flip-card-back-purple {
    background-color: rgb(101, 47, 108);
}
.flip-card-back-red {
    background-color: rgb(198, 33, 39);
}
.flip-card-back-teal {
    background-color: rgb(0, 130, 126);
}

.learn-more-button {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.5rem 3rem;
    margin: 1rem 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.031rem;
}

/* Media Queries */

@media (max-width: 1280px) {

    .header h1 {
        font-size: 4.688rem;
        padding: 0 0 1.875rem 0;
    }

    .header h2 {
        font-size: 1.875rem;
        padding: 0 0 1.875rem 0;
    }
}

@media (min-width: 640px) {

        .cards {
        display: grid;
        grid-template-columns: 325px 325px;
        grid-gap: 1rem;
        justify-content: center;
    }
}

@media (min-width: 1280px) {

    .cards {
        display: grid;
        grid-template-columns: 325px 325px 325px;
        grid-gap: 1rem;
        justify-content: center;
    }
}