/* Main Styles */

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body, footer, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    letter-spacing: 0.031rem;
    text-transform: uppercase;
}

a, a:visited {
    text-decoration: none;
}

.learn-more-button {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.5rem 3rem;
    margin: 1rem 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.031rem;
}

/* Navigation Bar */

.topnav {
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
  }
  
.topnav a {
    float: left;
    display: block;
    color: rgb(125, 125, 125);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }
  
.topnav a:hover {
    background-color: rgb(0, 145, 71);
    color: #fff;
}
  
.topnav a.active {
    background-color: rgb(14, 113, 156);
    color: white;
}
  
.topnav .icon {
    display: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
  
@media screen and (max-width: 40em) {

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

}

/* Navigation Bar Take 2 */

nav {
    display: flex;
}

nav span {
    display: block;
}

/* Header */

.header {
    position: relative;
    height: 700px;
    overflow: hidden;
    background-image:linear-gradient(0deg, rgba(99, 99, 99, 0.5), rgba(99, 99, 99, 0.5)), url(../resources/header_1.jpg);
    background-size: cover;
}

.header-text {
    position: absolute; /* Centered text */
    top: 50%; /* Centered text */
    left: 50%; /* Centered text */
    transform: translate(-50%, -50%); /* Centered text */
    text-align: center;
    color: #fff;
}

.header-text h1 {
    font-size: 4.688rem;
    padding: 0 0 1.875rem 0;
}

.header-text h2 {
    font-size: 1.875rem;
    padding: 0 0 1.875rem 0;
}

.header-text h4 {
    font-size: 1rem;
    padding: 0 0 0.875rem 0;
}

/* Go to Top Button */

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 145, 71);; /* Set a background color */
    color: #fff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    font-weight: bold;
  }
  
  #myBtn:hover {
    background-color: #000; /* Add a dark-grey background on hover */
  }

/* Flip Cards */

.cards-text {
    text-align: center;
    padding: 50px 0 0 0;
}

.cards-text h2 {
    font-size: 1.875rem;
    padding: 0 0 1.875rem 0;
}

.cards {
    display: grid;
    gap: 1rem;
    justify-content: center;
    padding: 50px 0 0 50px;
}

.flip-card {
    margin: 0 auto; /* Centers the elment */
    background-color: transparent;
    box-sizing: border-box;
    width: 325px;
    height: 325px;
    perspective: 1000px; /* Gives a 3D-positioned element some perspective */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flip-card-front {
    background-color: #fff;
    color: #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
  
.flip-card-back {
    color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.flip-card-front h3 {
    padding: 1rem 0 1rem 0;
}

.flip-card-front p {
    color: rgb(99, 99, 99);
}

.flip-card-front p, .flip-card-back p {
    line-height: 1.25rem;
    padding: 0 3rem 0 3rem;
}

.flip-card-back-blue {
    background-color: rgb(14, 113, 156);
}
.flip-card-back-green {
    background-color: rgb(0, 145, 71);
}
.flip-card-back-purple {
    background-color: rgb(101, 47, 108);
}
.flip-card-back-red {
    background-color: rgb(198, 33, 39);
}
.flip-card-back-teal {
    background-color: rgb(0, 130, 126);
}

@media (min-width: 40em) {

        .cards {
        display: grid;
        grid-template-columns: 20.3125rem 20.3125rem;
        grid-gap: 1rem;
        justify-content: center;
    }

}

@media (min-width: 80em) {

    .cards {
        display: grid;
        grid-template-columns: 20.3125rem 20.3125rem 20.3125rem;
        grid-gap: 1rem;
        justify-content: center;
    }

}

/* Slideshow */

/* Slideshow Container */
.slideshow-container {
    position: relative;
    background: rgb(14, 113, 156);
    margin: 50px 0 0 0;
}
  
/* Slides */
.mySlides {
    display: none;
    padding: 100px;
    text-align: center;
}
  
/* Next and Previous Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
/* Position Next Button to the Right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgb(0, 145, 71);
    color: white;
}
  
q {
    color: #fff;
    font-size: 20px;
    font-style: italic;
}

.author { 
    color: #fff;
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: 25% 25% 28% 22%;
    grid-template-rows: auto auto;
    overflow: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(67, 70, 75);
    color: rgb(192, 191, 191);
    text-align: left;
}

.footer h3 {
    padding: 0 0 15px 0;
    font-weight: bold;
    color: #fff;
}

.footer ul {
    list-style: none;
}

.footer1 a, .footer1 a:visited,
.footer2 a, .footer2 a:visited,
.footer4 a, .footer4 a:visited {
    color: #fff;
}

.footer1 a:hover,
.footer2 a:hover,
.footer4 a:hover {
    color: rgb(14, 113, 156);
}

.footer1, .footer2, .footer3, .footer4 {
    padding: 50px 50px 50px 50px;
}

.footer5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    padding: 0 0 25px 0;
    text-align: center;
}

@media only screen and (min-width: 0em) and (max-width: 40em) {

    .footer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        overflow: hidden;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .footer1 {
        padding: 50px 0 25px 0;
    }

    .footer2, .footer3, .footer4, .footer5 {
        padding: 25px 0 25px 0;
    }
    
    .footer5 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
    }
}

@media only screen and (min-width: 40em) and (max-width: 64em) {

    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        overflow: hidden;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;
    }

    .footer1 {
        padding: 50px 0 25px 50px;
    }

    .footer2 {
        padding: 50px 0 25px 0;
    }

    .footer3 {
        padding: 25px 0 25px 50px;
    }

    .footer4 {
        padding: 25px 0 25px 0;
    }
    
    .footer5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        padding: 25px 25px 25px 25px;
    }
}

/* Footer - Social Media Icons */

.fa {
    padding: 10px;
    font-size: 16px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
}

.fa:hover {
    color: #fff;
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: #fff;
    margin: 0 1px 0 0;
}

.fa-linkedin {
    background: #007bb5;
    color: #fff;
    margin: 0 1px 0 0;
}

.fa-twitter {
    background: #55ACEE;
    color: #fff;
    margin: 0 1px 0 0;
}

.fa-youtube {
    background: #bb0000;
    color: #fff;
    margin: 0 1px 0 0;
}

.fa-wordpress {
    background: #21759b;
    color: #fff;
    margin: 0 1px 0 0;
}